/Platfom/ModuleData_win32/ModuleData_win32.v11.suo
/Platfom/ModuleData_win32/ModuleData_win32.sdf
/Platfom/ModuleData_win32/Win32
/Platfom/ModuleData_win32/ModuleData_win32/Debug
/Platfom/ModuleData_win32/ModuleData_win32/ModuleData_win32.vcxproj.user
